<!DOCTYPE html> 
<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css"> 
  <link rel="stylesheet" type="text/css" href="/static/css/chart.css"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
  <script async src="/static/js/base.js"></script>
  <title>HB_Project</title>
</head>
<body>
  

  <div class="navBarClass" id="navBar">
    <ul class="navListClass" id="navList">
      <li><a href="/">Home</a></li>
      <li><a href="/buses">Buses</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>  
  </div>

  <!-- <h1>HB_Project</h1> -->

  <!-- enable flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class = "flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  <!-- page content -->
  <div class="container-fluid"> 
    {% block content %} put your content here {% endblock %}
  </div>

</body>
</html>

