<!DOCTYPE html> 
<!DOCTYPE html>
<html>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<head>
    <title>HB_Project</title>
</head>
<body>
    <h1>HB_Project  </h1>
    <!-- enable flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class = flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %} put your content here {% endblock %}


</body>
</html>