{% extends 'base.html' %}
{% block content %}
    <h2>Buses for SF_Muni</h2>

    <table>
        <tr>
            <th>Bus Route</th>
            <th>Route Title</th>
            <th>Bus Title</th>
            <th>Bus Tag</th>
        </tr>
        {% for bus in buses %}
            <tr>
                <td><a href="/buses/{{bus.bus_id}}">{{bus.bus_route.route_tag}}</a></td>
                <td><a href="/buses/{{bus.bus_id}}">{{bus.bus_route.route_title}}</a></td>
                <td><a href="/buses/{{bus.bus_id}}">{{bus.bus_title}}</a></td>
                <td><a href="/buses/{{bus.bus_id}}">{{bus.bus_tag}}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}