{% extends 'base.html' %}
{% block content %}
    <h2>Homepage for HB_project</h2>

    <h3>Routes</h3>
        <p><a href="/buses">View all routes for SF-Muni</a></p>

    <h3>Stops</h3>
        <section class="map">
            {% block map %}
            <div id="map"></div>
            {% endblock %}
        </section>
        <form action = "/user_geolocation" method="POST">
            <input id="lat" name= "lat" type="hidden">
            <input id="lng" name= "lng" type="hidden">
            <button id="btn_geolocate"> Get location</button>
        </form>
        <script>
            var user_lat = document.getElementById("lat");
            var user_lng = document.getElementById("lng"); 

            function success(pos){
                user_lat.value = pos.coords.latitude;
                user_lng.value = pos.coords.longitude; 
            }

            function error(err) { 
                console.warn('ERROR(${err.code}): ${err.message}'); 
            }

            navigator.geolocation.getCurrentPosition(success, error); 
            
        </script>
        <p>Or Enter an SF address here</p>
        <form action="/stops_address" method="POST">
            <label>Block: </label>
            <input type="text" name="block" required>
            <br><br>
            <label>Street: </label>
            <input type="text" name="street" required>
            <br><br>
            <button type="submit">Get stops</button>
        </form>
{% endblock %}

{% block scripts %}
    <!-- <script
        async defer
        src="https://maps.googleapis.com/maps/api/js?AIzaSyAq1mjmCBmz4h5310nNe2UVbU-VPeaJ2i4&callback=initMap">
    </script> -->
    <script> 
    </script>
    
    <script async src="/static/js/geolocate.js"></script>
{% endblock %}
