{% extends 'base.html' %}
{% block content %}
    <h2>Bus Routes for {{route.route_title}}</h2>   

        <ul>
            {% for bus in buses %}
            <li>
                Bus route Title: {{bus.bus_title}} &nbsp;&nbsp;&nbsp;&nbsp;
                Bus route Tag: {{bus.bus_tag}}
                <ul>
                    {% if bus.bus_ratings_details is defined and bus.bus_ratings_details|length>0 %}
                        {% for rating in bus.bus_ratings_details %}
                        <li>
                            Crowd: {{rating.crowd_rating}} &nbsp;
                            Time: {{rating.time_rating}} &nbsp;
                            Cleanliness: {{rating.cleanliness_rating}} &nbsp;
                            Safety: {{rating.safety_rating}} &nbsp;
                            View: {{rating.outer_view_rating}} &nbsp;
                        </li>
                        {%endfor%}
                    {% else %}
                    <p>
                        Crowd: &nbsp; Time: &nbsp; Cleanliness: &nbsp; 
                        Safety: &nbsp; View: &nbsp; 
                    </p>
                    <p>
                        No ratings present. 
                        Please rate this route. 
                    </p>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>

        Rate this route: 
        <select name="crowd_rating">
            <option value="1">1</option>
        </select>

{% endblock %}