
{% extends 'base.html' %}
{% block content %}
    <h2>Bus Routes for {{route.route_title}}</h2>   

        <ul>
            {% for bus in buses %}
            <li>
                <h3> Bus route Title: {{bus.bus_title}} &nbsp;&nbsp;&nbsp;&nbsp;
                Bus route Tag: {{bus.bus_tag}} </h3>
                <h3>Average rating for this route</h3>
                    <div class="Ave-bus-rating-chart">
                        <canvas id="barChart" width="600" height="400"></canvas>
                        <div id="barLegend" class="chart-legend"></div>
                    </div>
                    <script>
                        var avg_ratings = [] 
                        var Crowd = 0
                        var Time = 0 
                        var Cleanliness = 0 
                        var Safety = 0 
                        var View = 0 

                        const add = (a, b) => a+b 
                        { % for rating in bus.bus_ratings_details %} 
                            rating_total = [rating.crowd_rating, 
                                            rating.time_rating,
                                            rating.cleanliness_rating, 
                                            rating.safety_rating, 
                                            rating.outer_view_rating].reduce(add)
                                            
                        {%endfor%}


                        avg_ratings = [Crowd/len(bus.bus_ratings_details), 
                                       Time/len(bus.bus_ratings_details), 
                                       Cleanliness/len(bus.bus_ratings_details), 
                                       Safety/len(bus.bus_ratings_details), 
                                       View/len(bus.bus_ratings_details)]

                        const options = {
                            responsive: true
                        };
                        var ctx = document.getElementById('barChart').getContext('2d');
                        var myChart = new Chart(ctx, {                                                                                                                             
                            type: 'bar',
                            data: {
                                labels : [{% for item in labels %}
                                         "{{item}}",
                                        {% endfor %}],
                                // labels: 
                                // ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [12, 19, 3, 5, 2, 3],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                                beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>

                <ul>
                    {% if bus.bus_ratings_details is defined and bus.bus_ratings_details|length>0 %}
                        {% for rating in bus.bus_ratings_details %}
                        <li>
                            Crowd: {{rating.crowd_rating}} &nbsp;
                            Time: {{rating.time_rating}} &nbsp;
                            Cleanliness: {{rating.cleanliness_rating}} &nbsp;
                            Safety: {{rating.safety_rating}} &nbsp;
                            View: {{rating.outer_view_rating}} &nbsp;
                        </li>
                        {%endfor%}
                    {% else %}
                    <p>
                        Crowd: &nbsp; Time: &nbsp; Cleanliness: &nbsp; 
                        Safety: &nbsp; View: &nbsp; 
                    </p>
                    <p>
                        No ratings present. 
                        Please rate this route. 
                    </p>
                    {% endif %}
                </ul>
                <br><br> Rate this bus route: 
                <form action="/rate_bus/{{bus.bus_id}}" method="POST">
                    <p>Rate how crowded the bus was?
                    <select name="crowd_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Rate how crowded the bus was?
                    <select name="time_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Rate how clean the bus was?
                    <select name="cleanliness_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Rate how safe the bus was?
                    <select name="safety_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Rate how was the view from the bus?
                    <select name="outer_view_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Date and Time the journey was made? 
                        <input type="datetime-local" name="trip_datetime">
                    </p>
                    <p>Add your comments here
                    <label>Text: </label>
                    <input type="text" name="rating_text" required></p>
                    <button type="submit">Submit</button>
                    <p>test3</p>
                </form>
                <p>test2</p>

            </li>
            <p>test1</p>
            {% endfor %}
            <p>test</p>
        </ul>
        <p>This is the route map</p>
        <div id=map></div>
        <!-- <p>This is the route map</p> -->

        <script src="https://maps.googleapis.com/maps/api/js?key=YOU-API-KEY&callback=initMap" async defer></script>


        <script>
        function initMap() {

            let mapCenter = {
                lat: 37.788951999999995, 
                lng: -122.4115257
            }; 

            const map = new google.maps.Map(document.getElementById('map'), {
                center: mapCenter,
                zoom: 14, 
                zoomControl: true,
                panControl: false,
                streetViewControl: false
            });

            const infoWindow = new google.maps.InfoWindow();

            $.get('/bus-route/map' , (result) => { 
                mapCenter.lat = result.user_lat;
                mapCenter.lng = result.user_lng; 
                let path = []; 

                for (let stop in result.stop_list){
                    path.push({lat: stop.stop_lat, lng: stop.stop_lon})
                }
                console.log(path);

            });


        }

        </script>
        



{% endblock %}