{% extends 'base.html' %}
{% block content %}
    <h2>Bus Routes for {{route.route_title}}</h2>   

        <ul>
            {% for bus in buses %}
            <li>
                Bus route Title: {{bus.bus_title}} &nbsp;&nbsp;&nbsp;&nbsp;
                Bus route Tag: {{bus.bus_tag}}
                <ul>
                    {% if bus.bus_ratings_details is defined and bus.bus_ratings_details|length>0 %}
                        {% for rating in bus.bus_ratings_details %}
                        <li>
                            Crowd: {{rating.crowd_rating}} &nbsp;
                            Time: {{rating.time_rating}} &nbsp;
                            Cleanliness: {{rating.cleanliness_rating}} &nbsp;
                            Safety: {{rating.safety_rating}} &nbsp;
                            View: {{rating.outer_view_rating}} &nbsp;
                        </li>
                        {%endfor%}
                    {% else %}
                    <p>
                        Crowd: &nbsp; Time: &nbsp; Cleanliness: &nbsp; 
                        Safety: &nbsp; View: &nbsp; 
                    </p>
                    <p>
                        No ratings present. 
                        Please rate this route. 
                    </p>
                    {% endif %}
                </ul>
                <br><br> Rate this bus route: 
                <form action="/rate_bus/{{bus.bus_id}}" method="POST">
                    <p>Rate how crowded the bus was?
                    <select name="crowd_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Rate how crowded the bus was?
                    <select name="time_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Rate how clean the bus was?
                    <select name="cleanliness_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Rate how safe the bus was?
                    <select name="safety_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Rate how was the view from the bus?
                    <select name="outer_view_rating">
                        <option value="5">5</option> <option value="4">4</option>
                        <option value="3">3</option> <option value="2">2</option>
                        <option value="1">1</option>
                    </select></p>
                    <p>Add your comments here
                    <label>Text: </label>
                    <input type="text" name="rating_text" required></p>
                    <button type="submit">Submit</button>
                    <br><br>
                </form>
            </li>
            {% endfor %}
        </ul>
        

{% endblock %}