{% extends 'base.html' %}
{% block content %}
    
    <div class = "stop_details_heading">
        <h2>Bus Stops closest to you</h2>
        <br>
    </div>

    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 nopadding">
    <h5>List of stops</h5>
    <div class="stop_details_list" id="stop_details_list_1">
        <ul class="stop_list_1">
            {% for dist in distances %}
                <li class="elem_of_list_1">
                    <br>
                    <span class="underline"><p>At a distance of {{dist}} miles are the following stops</p></span>
                    <ul class="stop_list_2">

                        {% for stop in stop_dict[dist] %}
                            <li id="elem_of_list_2">
                                <p>
                                <span class="stop_emphasis">Stop name:</span> {{stop.stop_title}} &nbsp; 
                                <span class="stop_emphasis">Stop Id:</span> {{stop.stop_id_tag}}</p>
                                <p>And you can board the following buses from here</p>
                                
                                
                                <ul class="stop_list_3">
                                    
                                    {% for bus in stop.stop_buses %}
                                        <li id="elem_of_list_3"><a href="/buses/{{bus.bus_id}}">
                                            <span class="stop_emphasis">Bus Title:</span> {{bus.bus_title}}</a>
                                        </li>
                                    {% endfor %}    
                                </ul><br><br>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-12 nopadding">
    <h5>Stops on map</h5>
    <div class="stop_map" id=map></div>
    </div>
    <div class="col-lg-1 col-md-1 nopadding">
    </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR&API&KEY&callback=initMap" async defer></script>
    <script>
        function initMap() {
            // console.log("test1");
            let mapCenter = {
                lat: 37.788951999999995, 
                lng: -122.4115257
            }; 

            const map = new google.maps.Map(document.getElementById('map'), {
                center: mapCenter,
                zoom: 16, 
                zoomControl: true,
                panControl: false,
                streetViewControl: false
            });

            // console.log("test2");
            const infoWindow = new google.maps.InfoWindow();

            $.get('/stop-details/map' , (result) => { 
                // console.log("test2");
                mapCenter.lat = result.user_lat;
                mapCenter.lng = result.user_lng; 

                const userMarker = new google.maps.Marker({
                    position: new google.maps.LatLng(result.user_lat,result.user_lng), 
                    map: map, 
                    // icon: {
                    //     url: '/static/img/user.svg',
                    //     scaledSize: new google.maps.Size(50, 50)
                    // },
                    title: `user_start_point`
                }); 

                // console.log("test3");
                const html = `<div class= "window-content">
                <div class="window-thumbnail">
                    <p>User location</p>
                </div>`;

                google.maps.event.addListener(userMarker, 'click', ()=> {
                    infoWindow.close(); 
                    infoWindow.setContent(html); 
                    infoWindow.open(map, userMarker)
                });
                // console.log("test4");

                for (let stop of result.stop_list){
                    // console.log("test5");
                    const marker = new google.maps.Marker({
                        position: new google.maps.LatLng(stop.stop_lat,stop.stop_lon), 
                        map: map, 
                        icon: {
                            url: '/static/img/bus.svg',
                            scaledSize: new google.maps.Size(80, 80)
                        },
                        title: `Stop Title: ${stop.stop_Title}`
                    });

                    const html = `<div class= "window-content">
                    <div class="window-thumbnail">
                        <p><b>Stop Title: </b>${stop.stop_title}</p>
                    </div>
                    <ul class="stop-info">
                        <li><b>Stop Id: </b>${stop.stop_id_tag}</li>
                        <li><b>Stop Tag: </b>${stop.stop_tag}</li>
                    </ul>
                    </div>`;

                    google.maps.event.addListener(marker, 'click', ()=> {
                        infoWindow.close(); 
                        infoWindow.setContent(html); 
                        infoWindow.open(map, marker)
                    });
                }

                // console.log("test7");
            } );
        }   
    </script>
{%endblock%}

