{% extends 'base.html' %}
{% block content %}
    <h2>Sign In</h2>

    <form action="/signin" method="POST">
            <label>First Name: </label>
            <input type="text" name="fname" required>
            <br>

            <label>Last Name: </label>
            <input type="text" name="lname" required>
            <br>


            <label>Email id: </label>
            <input type="text" name="email" required>
            <br>

            <label>Password</label>
            <input type="text" name="password" required>
            <br>

            <button type="submit">Sign in</button>
    </form>

    <p>
        Already have an account <a href="/login">Login</a> here
    </p>





{% endblock %}